.Phone_Popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.Phone_popular_content{
    
    
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
