.Content-Product-Compare{
    width: 1148px;
    margin: auto;
}

.Content-Product-Compare .Box-Compare{
    display: flex;
    gap: 32px;
    margin-bottom: 68px;
}
.Content-Product-Compare .Box-Compare img{
    margin-bottom: 20px;
}


.Content-Product-Compare .Box-Compare .Block-product p{
    font-size: 24px;
    font-weight: 700;
    color: var(--Primary);
}
.Content-Product-Compare .Box-Compare .Block-product .Price{
    font-size: 24px;
    font-weight: 500;
    margin-right: 8px;
}
.Content-Product-Compare .Box-Compare .Block-product span.PriceNew{
    color: var(--Secondary);
}
.Content-Product-Compare .Box-Compare .Block-product span.PriceOld{
    color: var(--Gray-30);
    text-decoration: line-through;
}

.Content-Product-Compare .Compare-Details table{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--Gray-80);
}


.Content-Product-Compare .Box-Compare .Block-null{
    width: 194px;
    height: 100%;
    display: inline-block;

}

.Content-Product-Compare .Compare-Details table tr{
    display: table;
}
.Content-Product-Compare .Compare-Details table{
    margin-bottom: 48px;
}


.Content-Product-Compare .Compare-Details td.details-title{
    width: 193px;
    text-align: right;
    display: inline-table;
}


.Content-Product-Compare .Compare-Details td.details-sub-title{
    display: inline-table;
    margin-left: 30px;
    width: 283px;
}
.Content-Product-Compare .Compare-Details .Compare-Button .Button-buy button:hover{
    background-color: var(--Secondary);
    color: var(--white);

}

.Content-Product-Compare .Compare-Details .Compare-Button .Button-buy button{
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #ffdead00;
    color: var(--Secondary);
    border: solid 1px var(--Secondary);
    transition: var(--Trans);
    cursor: pointer;
}