.hero{
    width: 100%;
    height: 633px;
    background-size: cover ;
    color: white;
    font-family: sans-serif;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    width: 1148px;
    margin: auto;
}

.hero-left{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: flex-start;
}
.hero-left h2{
    font-size: 84px;
    width: 474px;
}
.hero-left p{
    font-size: 24px;
    width: 474px;
}
.hero-left button{
    padding: 12px 64px;
    height: 48px;
    float: left;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--Secondary);
    color: var(--white);
    background-color: var(--Secondary);
    text-align: center;
    margin-top: 8px;
    transition: var(--Trans);
    cursor: pointer;
}
.hero-left button:hover{
    background-color: var(--white);
    border: 1px solid var(--Secondary);
    color: var(--Secondary);
}
.hero-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.hero-right img{
    height: 633px;
}

@media (max-width: 576px) { 
    .hero{
        width: 100%;
        height: 1080px;
        background-size: cover ;
        color: white;
        font-family: sans-serif;
    }
    .hero-content{
        display: flex;
        justify-content: center;
        width: 1148px;
        margin: auto;
        text-align: center;
    }
    
    .hero-left{
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        align-items: center;
       
    }
    .hero-left h2{
        font-size: 84px;
        width: 474px;
        text-align: center;
    }
    .hero-left p{
        font-size: 24px;
        width: 474px;
    }
    .hero-left button{
        padding: 12px 64px;
        height: 48px;
        float: left;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        color: var(--white);
        background-color: var(--Secondary);
        text-align: center;
        margin-top: 8px;
    }
    .hero-right{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }
    .hero-right img{
        height: 633px;
    }
}