.Phone_popular_content_left{
    background-size: 100%;
    width: 681px;
    height: 394px;
    text-align: left;
    border-radius: 8px;
    transition: var(--Trans);
    cursor: pointer;
}
.Phone_popular_content_left:hover{
    transform: scale(1.03);
    background-size: 105%;
    box-shadow: var(--shadow);
}
.Phone_popular_content_left .content{
    align-items: flex-start;
    padding: 48px;
}
.Phone_popular_content_left .title-card-large{
    font-size: 36px;
    font-weight: 700;
    color: var(--Secondary);
    
}
.Phone_popular_content_left .sub-title-card-large{
    width: 55%;
    color: var(--Gray-80);
    font-size: 20px;
}
.Phone_popular_content_left button{
    margin-top: 16px;
    font-size: 16px;
    border: none;
    background-color: #ffffff00;
    color: var(--Secondary);
  }