
.Container-Contact{
    width: 1148px;
    margin: auto;
    display: flex;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.192);
    border-radius: 8px;
}
.Container-Contact form{
    display: flex;
    width: 100%;
}
.Container-Contact form .Container-Contact-Left{
    width: 50%;
    padding: 36px;
}
.Container-Contact form .Container-Contact-Left{
    display: flex;
    flex-direction: column;
}

.Container-Contact form .Container-Contact-Left label.label-contact{
    font-size: 14px;
    color: var(--Gray-80);
    margin-bottom: 8px;
    font-weight: 100;
}

.Container-Contact form .Container-Contact-Left input.input{
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--Gray-50);
    margin-bottom: 16px;
    padding-left: 16px;
}
.Container-Contact form .Container-Contact-Left textarea{
    height: 92px;
    padding: 16px 0px 0px 16px;
    border-radius: 8px;
    border: 1px solid var(--Gray-50);
}
.Container-Contact form .Container-Contact-Left input.input:focus-visible{
    outline-color: var(--Primary);
}
.Container-Contact form .Container-Contact-Left textarea:focus-visible{
    outline-color: var(--Primary);
}

.Container-Contact form#form .Container-Contact-Right .title{
    font-size: 48px;
}
.Container-Contact form#form .Container-Contact-Right{
    display: flex!important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, var(--Secondary), #e73c7e, #23a6d5, var(--Primary));
    animation: gradient-anim 15s ease infinite;
    background-size: 400% 400%;
    width: 50%;
    border-radius: 0px 8px 8px 0px; 
    color: var(--white);
}
.Container-Contact form#form .Container-Contact-Right .title{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.Container-Contact form#form .Container-Contact-Right .sub-title{
    width: 80%;
}
.Container-Contact form#form .Container-Contact-Right .btn{
    margin-top: 64px;
    padding: 20px 64px;
    border-radius: 8px;
    border: 3px solid var(--white);
    font-size: 16px;
    color: var(--Gray-80);
    font-weight: 700;
    background-color: var(--white);
    transition: var(--Trans);
    cursor: pointer;
}

.Container-Contact form#form .Container-Contact-Right .btn:hover{
    background-color: var(--Secondary);
    color: var(--white);
}
@keyframes gradient-anim {

    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}