*{
    margin: 0;
    padding: 0;
}
.ItemsProduct{
    width: 262px;
    height: 343px;
    cursor: pointer;
    color: var(--Primary)!important;
}
.ItemsProduct:hover {
    color: var(--Secondary)!important;
}
.ItemsProduct:hover img{
    width: 100%;
    transform: scale(1.1);
    transform-origin: center;
    

}

.ItemsProduct img{
    width: 100%;
    z-index: 0;
    transition: var(--Trans);
}
.ItemsProduct .content-descript{
    margin: 16px;
}
.ItemsProduct:hover .content-descript .title-card-product{
    color: var(--Secondary)!important;
}
.ItemsProduct .content-descript .title-card-product{
    color: var(--Primary)!important;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    transition: var(--Trans);
}
.ItemsProduct .content-descript .sub-title-card-product{
    font-size: 12px;
    font-weight: 100;
    color: var(--Gray-80);
    line-height: 1.5;
    margin-bottom: 12px;
}
.ItemsProduct .content-descript .button-product-card{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.ItemsProduct .content-descript .button-product-card button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}
.ItemsProduct .content-descript button.Button-order{
    background-color: rgba(255, 255, 255, 0);
    color: var(--Primary);
    transition: var(--Trans);
    cursor: pointer;
    
}
.ItemsProduct .content-descript button.Button-order:hover{
    background-color: var(--Primary);
    color: var(--white);
}
.ItemsProduct .content-descript button.Button-more{
    background-color: var(--Secondary);
    color: white;
    transition: var(--Trans);
    cursor: pointer;
    border: 1px solid var(--Secondary);
}
.ItemsProduct .content-descript button.Button-more:hover{
    background-color: white;
    color: var(--Secondary);
    border: 1px solid var(--Secondary);
}