:root{
  --white: #FFFFFF;
  --black: #000000;
  --Gray-100: #424143;
  --Gray-90: #595A5C;
  --Gray-80: #6E6F72;
  --Gray-70: #6E6F72;
  --Gray-60: #818386;
  --Gray-50: #949698;
  --Gray-40: #A7AAAC;
  --Gray-30: #BCBEC0;
  --Gray-20: #D2D3D4;
  --Gray-10:#E6E8EA;
  --Gray-0: #F3F5F5;
  --Primary: #4A5291;
  --Secondary: #E9545E;
}

:root{
  /* placeholder */
  --Placeholder-search: 24px;

  /* Hero */
  --Hero-Title: 84px;

  /* Brand Popular */
  --Brand-Popular-Title: 36px;

  /* Button */
  --Button-Large: 24x;
  --Button-Medium: 16px;
  --Button-Small: 10px;

  /* Description */
  --Description-Heading: 36px;
  --Description-Sub-Heading: 20px;

  /* Fillter */
  --Fillter-Leading: 20px;
  --Filter-items: 16px;

  /* Card-Product */
  --Card-Product-title: 16px;
  --Card-Product-sub-title:10px;

  /* Card-Service */
  --Card-Service-title: 30px;
  --Card-Service-sub-title: 14px;

  /* Product-Details */
  --Product-Details-title:48px;
  --Product-Details-sub-title: 16px;

  /* Font-fammily */
  --Sf-pro:'SF Pro Display', sans-serif;
                                              
}

*{
  margin: 0px;
  padding: 0px;
  font-family: var(--Sf-pro);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
