.items-Brand-Popular{
    width: 566px;
    height: 240px;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s cubic-bezier(.86, .01, .15, .99);
    border-radius:16px ;
    
}
.items-Brand-Popular p{
   padding-left: 48px ;
   font-size: var(--Brand-Popular-Title);
   font-weight: 500;
   cursor: pointer;
   
}
.items-Brand-Popular:hover{
    transform: scale(1.03);
    box-shadow: #00000060 0 3px 3px 1px;
}
.items-Brand-Popular:focus-visible{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid var(--Primary);
    outline: none;
}